<div class="nav">
  <div class="pageHeading">DAILY JOURNAL</div>
  <div id="home" class="loc">HOME</div>
  <div id="about" class="loc">ABOUT</div>
  <div id="contact" class="loc">CONTACT</div>
</div>
