<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/index.css"/>
    <link rel="stylesheet" href="/css/addblog.css"/>
  </head>
  <body>
<div class="nav">
  <div class="pageHeading">DAILY JOURNAL</div>
  <div id="home" class="loc"><a href="/">HOME</a></div>
  <div id="about" class="loc"><a href="/about">ABOUT</a></div>
  <div id="contact" class="loc"><a href="/contact">CONTACT</a></div>
  <div id="addnewblog" class="loc"><a href="/addBlog">ADD NEW</a></div>
</div>
