<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/index.css"/>
  </head>
  <body>
  <%- include('./partials/header.ejs') %>



    <h1>this is page</h1>


  <%- include("./partials/footer.ejs") %>
  </body>
</html>
